# ============================================================
#  Secrets Template - Copier ce fichier en secrets.yaml
#  et remplacer les valeurs par les vraies credentials
# ============================================================
#  Générer api_encryption_key avec : esphome dashboard secret
# ============================================================

wifi_ssid: "Votre_SSID"
wifi_password: "Votre_Mot_de_Passe"
fallback_password: "Mot_de_Passe_AP"
api_encryption_key: "Générer_avec_esphome_dashboard_secret"
ota_password: "Votre_Mot_de_Passe_OTA"
